In [61]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [67]:
dog = pd.read_csv('Data/AAC_In_Out_Final.csv')
dog.head()

,Animal ID,Name,Date of Birth,Gender,Color1,Color2,Breed1,Breed2,Found Street,Found City,...,Intake Type,Intake Condition,Age upon Intake,Intake_Sex,Outcome_Date,Outcome Type,Age upon Outcome,Outcome_Age_Months,Outcome_Sex,AAC_Duration
0,A006100,Scamp,2007-07-09 00:00:00,Male,Yellow,White,Spinone Italiano,Mix,2501 Magin Meadow Dr,Austin,...,Public Assist,Normal,6 years,Neutered,2014-03-08 17:10:00,Return to Owner,6 years,80,Neutered,1 days 02:44:00.000000000
1,A006100,Scamp,2007-07-09 00:00:00,Male,Yellow,White,Spinone Italiano,Mix,9409 Bluegrass Dr,Austin,...,Stray,Normal,10 years,Neutered,2017-12-07 00:00:00,Return to Owner,10 years,125,Neutered,-1 days +09:53:00.000000000
2,A006100,Scamp,2007-07-09 00:00:00,Male,Yellow,White,Spinone Italiano,Mix,2818 Palomino Trail,Austin,...,Public Assist,Normal,7 years,Neutered,2014-12-20 16:35:00,Return to Owner,7 years,89,Neutered,1 days 06:14:00.000000000
3,A047759,Oreo,2004-04-02 00:00:00,Male,Tricolor,none,Dachshund,none,800 Grove Blvd,Austin,...,Owner Surrender,Normal,10 years,Neutered,2014-04-07 15:12:00,Transfer,10 years,120,Neutered,4 days 23:17:00.000000000
4,A134067,Bandit,1997-10-16 00:00:00,Male,Brown,White,Shetland Sheepdog,none,none,Austin,...,Public Assist,Injured,16 years,Neutered,2013-11-16 11:54:00,Return to Owner,16 years,193,Neutered,0 days 02:52:00.000000000

In [83]:
print (dog.dtypes)

Animal ID             object
Name                  object
Date of Birth         object
Gender                object
Color1                object
Color2                object
Breed1                object
Breed2                object
Found Street          object
Found City            object
Found State           object
Intake_Date           object
Intake Type           object
Intake Condition      object
Age upon Intake       object
Intake_Sex            object
Outcome_Date          object
Outcome Type          object
Age upon Outcome      object
Outcome_Age_Months     int64
Outcome_Sex           object
AAC_Duration          object
dtype: object

In [116]:
#convert Outcome date column to month
type(dog.Outcome_Date[0])
dog.Outcome_Date = pd.to_datetime(dog.Outcome_Date)
dog['Outcome_Date_Month'] = dog.Outcome_Date.dt.month

#print result
dog.head()

,Animal ID,Name,Date of Birth,Gender,Color1,Color2,Breed1,Breed2,Found Street,Found City,...,Age upon Intake,Intake_Sex,Outcome_Date,Outcome Type,Age upon Outcome,Outcome_Age_Months,Outcome_Sex,AAC_Duration,Outcome_Date_Month,Intake_Date_Month
0,A006100,Scamp,2007-07-09 00:00:00,Male,Yellow,White,Spinone Italiano,Mix,2501 Magin Meadow Dr,Austin,...,6 years,Neutered,2014-03-08 17:10:00,Return to Owner,6 years,80,Neutered,1 days 02:44:00.000000000,3,3
1,A006100,Scamp,2007-07-09 00:00:00,Male,Yellow,White,Spinone Italiano,Mix,9409 Bluegrass Dr,Austin,...,10 years,Neutered,2017-12-07 00:00:00,Return to Owner,10 years,125,Neutered,-1 days +09:53:00.000000000,12,12
2,A006100,Scamp,2007-07-09 00:00:00,Male,Yellow,White,Spinone Italiano,Mix,2818 Palomino Trail,Austin,...,7 years,Neutered,2014-12-20 16:35:00,Return to Owner,7 years,89,Neutered,1 days 06:14:00.000000000,12,12
3,A047759,Oreo,2004-04-02 00:00:00,Male,Tricolor,none,Dachshund,none,800 Grove Blvd,Austin,...,10 years,Neutered,2014-04-07 15:12:00,Transfer,10 years,120,Neutered,4 days 23:17:00.000000000,4,4
4,A134067,Bandit,1997-10-16 00:00:00,Male,Brown,White,Shetland Sheepdog,none,none,Austin,...,16 years,Neutered,2013-11-16 11:54:00,Return to Owner,16 years,193,Neutered,0 days 02:52:00.000000000,11,11

In [115]:
#convert Intake date column to month
type(dog.Intake_Date[0])
dog.Intake_Date = pd.to_datetime(dog.Intake_Date)
dog['Intake_Date_Month'] = dog.Intake_Date.dt.month

dog.head()

,Animal ID,Name,Date of Birth,Gender,Color1,Color2,Breed1,Breed2,Found Street,Found City,...,Age upon Intake,Intake_Sex,Outcome_Date,Outcome Type,Age upon Outcome,Outcome_Age_Months,Outcome_Sex,AAC_Duration,Outcome_Date_Month,Intake_Date_Month
0,A006100,Scamp,2007-07-09 00:00:00,Male,Yellow,White,Spinone Italiano,Mix,2501 Magin Meadow Dr,Austin,...,6 years,Neutered,2014-03-08 17:10:00,Return to Owner,6 years,80,Neutered,1 days 02:44:00.000000000,3,3
1,A006100,Scamp,2007-07-09 00:00:00,Male,Yellow,White,Spinone Italiano,Mix,9409 Bluegrass Dr,Austin,...,10 years,Neutered,2017-12-07 00:00:00,Return to Owner,10 years,125,Neutered,-1 days +09:53:00.000000000,12,12
2,A006100,Scamp,2007-07-09 00:00:00,Male,Yellow,White,Spinone Italiano,Mix,2818 Palomino Trail,Austin,...,7 years,Neutered,2014-12-20 16:35:00,Return to Owner,7 years,89,Neutered,1 days 06:14:00.000000000,12,12
3,A047759,Oreo,2004-04-02 00:00:00,Male,Tricolor,none,Dachshund,none,800 Grove Blvd,Austin,...,10 years,Neutered,2014-04-07 15:12:00,Transfer,10 years,120,Neutered,4 days 23:17:00.000000000,4,4
4,A134067,Bandit,1997-10-16 00:00:00,Male,Brown,White,Shetland Sheepdog,none,none,Austin,...,16 years,Neutered,2013-11-16 11:54:00,Return to Owner,16 years,193,Neutered,0 days 02:52:00.000000000,11,11

In [ ]:
#save the data to csv
dog.to_csv('..')

In [69]:
# Assign X (data) and y (target)
X = dog.drop("Outcome Type", axis=1)
y = dog["Outcome Type"]
print(X.shape, y.shape)

(60840, 21) (60840,)

In [89]:
from sklearn.model_selection import train_test_split
 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [72]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [81]:
classifier.fit(X_train, y_train)

/Users/tessabanum/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: '-72 days +02:11:00.000000000'