In [13]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [34]:
dog = pd.read_csv('encoded_df.csv')
dog.head()

,le_gender,le_color1,le_color2,le_breed1,le_breed2,le_intake_type,le_intake_condition,le_intake_sex,le_outcome_type,le_outcome_sex,le_outcome_d_m,le_intake_d_m,Outcome_Age_Month,Duration_Day
0,1,35,33,326,106,2,5,1,5,1,5,5,80,1.113889
1,1,35,33,326,106,2,5,1,5,1,3,3,89,1.259722
2,1,33,36,124,166,1,5,1,7,1,6,6,120,4.970139
3,1,12,33,309,166,2,3,1,5,1,2,2,193,0.119444
4,0,2,33,217,120,3,0,2,5,2,2,2,185,0.870833

In [35]:
print (dog.dtypes)

le_gender                int64
le_color1                int64
le_color2                int64
le_breed1                int64
le_breed2                int64
le_intake_type           int64
le_intake_condition      int64
le_intake_sex            int64
le_outcome_type          int64
le_outcome_sex           int64
le_outcome_d_m           int64
le_intake_d_m            int64
Outcome_Age_Month        int64
Duration_Day           float64
dtype: object

In [37]:
# Assign X (data) and y (target)
X = dog.drop("le_outcome_type", axis=1)
y = dog["le_outcome_type"]
print(X.shape, y.shape)

(59601, 13) (59601,)

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [39]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [40]:
classifier.fit(X_train, y_train)

/Users/tessabanum/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/tessabanum/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [42]:
print(f"Train Data Score: {classifier.score(X_train, y_train)}")
print(f"Test Data Score: {classifier.score(X_test, y_test)}")

Train Data Score: 0.646510067114094
Test Data Score: 0.6549895980135562

In [43]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 7 7 5 0 0 7 5 5 0]
First 10 Actual labels: [0, 5, 7, 7, 0, 0, 7, 3, 7, 0]

In [44]:
# Predict the class (purple or yellow) of the new data point
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

       Prediction  Actual
0               0       0
1               7       5
2               7       7
3               5       7
4               0       0
5               0       0
6               7       7
7               5       3
8               5       7
9               0       0
10              0       0
11              5       5
12              7       7
13              0       0
14              0       0
15              0       5
16              0       7
17              7       5
18              0       7
19              0       0
20              5       0
21              0       0
22              0       7
23              0       0
24              0       0
25              5       5
26              0       0
27              5       5
28              0       0
29              0       0
...           ...     ...
14871           5       0
14872           0       0
14873           5       0
14874           7       7
14875           0       7
14876           5       7
14877           0       5
14878           7       5
14879           0       7
14880           0       5
14881           5       5
14882           5       5
14883           7       7
14884           5       5
14885           5       5
14886           0       0
14887           5       5
14888           5       0
14889           7       5
14890           5       7
14891           5       5
14892           5       5
14893           7       3
14894           5       7
14895           0       0
14896           7       3
14897           0       5
14898           0       7
14899           0       0
14900           0       0

[14901 rows x 2 columns]

In [50]:
# Use score method to get accuracy of model
score = LogisticRegression.score(X_test, y_test)
print(score)

TypeError: score() missing 1 required positional argument: 'y'