In [8]:
import pandas as pd
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [9]:
df = pd.read_csv("./encoded_df.csv")
df.head()

,le_gender,le_color1,le_color2,le_breed1,le_breed2,le_intake_type,le_intake_condition,le_intake_sex,le_outcome_type,le_outcome_sex,le_outcome_d_m,le_intake_d_m,Outcome_Age_Month,Duration_Day
0,1,35,33,326,106,2,5,1,5,1,5,5,80,1.113889
1,1,35,33,326,106,2,5,1,5,1,3,3,89,1.259722
2,1,33,36,124,166,1,5,1,7,1,6,6,120,4.970139
3,1,12,33,309,166,2,3,1,5,1,2,2,193,0.119444
4,0,2,33,217,120,3,0,2,5,2,2,2,185,0.870833

In [10]:
target = df["le_outcome_type"]
target_names = ["Adoption", "Died", "Disposal", "Euthanasia", "Missing", "Return to Owner", "Rto-Adopt", "Transfer"]

In [11]:
data = df.drop("le_outcome_type", axis=1)
variables = data.columns
data.head()

,le_gender,le_color1,le_color2,le_breed1,le_breed2,le_intake_type,le_intake_condition,le_intake_sex,le_outcome_sex,le_outcome_d_m,le_intake_d_m,Outcome_Age_Month,Duration_Day
0,1,35,33,326,106,2,5,1,1,5,5,80,1.113889
1,1,35,33,326,106,2,5,1,1,3,3,89,1.259722
2,1,33,36,124,166,1,5,1,1,6,6,120,4.970139
3,1,12,33,309,166,2,3,1,1,2,2,193,0.119444
4,0,2,33,217,120,3,0,2,2,2,2,185,0.870833

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [14]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6821018723575599

In [16]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7869941614656735

In [17]:
sorted(zip(rf.feature_importances_, variables), reverse=True)

[(0.29198600808748504, 'Duration_Day'),
 (0.12292489010768669, 'Outcome_Age_Month'),
 (0.11250657830575063, 'le_intake_type'),
 (0.10598204528136435, 'le_outcome_sex'),
 (0.08165654335973294, 'le_breed1'),
 (0.0541485611449217, 'le_color1'),
 (0.04978077916464695, 'le_outcome_d_m'),
 (0.04942104373452696, 'le_intake_d_m'),
 (0.038770140482053336, 'le_color2'),
 (0.032136425242128334, 'le_intake_sex'),
 (0.03098652298837191, 'le_breed2'),
 (0.02129283332110418, 'le_intake_condition'),
 (0.008407628780227055, 'le_gender')]