In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('encoded_df.csv')
df.head()

,le_gender,le_color1,le_color2,le_breed1,le_breed2,le_intake_type,le_intake_condition,le_intake_sex,le_outcome_type,le_outcome_sex,le_outcome_d_m,le_intake_d_m,Outcome_Age_Month,Duration_Day
0,1,35,33,326,106,2,5,1,5,1,5,5,80,1.113889
1,1,35,33,326,106,2,5,1,5,1,3,3,89,1.259722
2,1,33,36,124,166,1,5,1,7,1,6,6,120,4.970139
3,1,12,33,309,166,2,3,1,5,1,2,2,193,0.119444
4,0,2,33,217,120,3,0,2,5,2,2,2,185,0.870833

In [3]:
target = df["le_outcome_type"]
target_names = ["Adoption", "Died", "Disposal", "Euthanasia", "Missing", "Return to Owner", "Rto-Adopt", "Transfer"]

In [4]:
data = df.drop("le_outcome_type", axis=1)
variables = data.columns
data.head()

,le_gender,le_color1,le_color2,le_breed1,le_breed2,le_intake_type,le_intake_condition,le_intake_sex,le_outcome_sex,le_outcome_d_m,le_intake_d_m,Outcome_Age_Month,Duration_Day
0,1,35,33,326,106,2,5,1,1,5,5,80,1.113889
1,1,35,33,326,106,2,5,1,1,3,3,89,1.259722
2,1,33,36,124,166,1,5,1,1,6,6,120,4.970139
3,1,12,33,309,166,2,3,1,1,2,2,193,0.119444
4,0,2,33,217,120,3,0,2,2,2,2,185,0.870833

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler(feature_range=(-1,1)).fit(X_train)
X_train = scaling.transform(X_train)
X_test = scaling.transform(X_test)

/Users/suprajasharma/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [7]:
from sklearn.svm import SVC
model = SVC(kernel='linear')
model

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [8]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 10, 100, 1000, 10000],
             'gamma': [0.0001, 0.00001, 0.00001, 0.0000001]}
grid = GridSearchCV(model, param_grid, verbose=3)

grid.fit(X_train, y_train)

In [ ]:
grid.fit(X_train, y_train)

/Users/suprajasharma/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Fitting 3 folds for each of 20 candidates, totalling 60 fits
[CV] C=1, gamma=0.0001 ...............................................
[CV] ...... C=1, gamma=0.0001, score=0.6517479702073408, total=  51.6s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  1.1min remaining:    0.0s

[CV] ...... C=1, gamma=0.0001, score=0.6476944761393382, total=  50.9s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:  2.2min remaining:    0.0s

[CV] ...... C=1, gamma=0.0001, score=0.6537790307423815, total=  52.8s
[CV] C=1, gamma=1e-05 ................................................
[CV] ....... C=1, gamma=1e-05, score=0.6517479702073408, total=  49.1s
[CV] C=1, gamma=1e-05 ................................................
[CV] ....... C=1, gamma=1e-05, score=0.6476944761393382, total=  49.0s
[CV] C=1, gamma=1e-05 ................................................
[CV] ....... C=1, gamma=1e-05, score=0.6537790307423815, total=  50.8s
[CV] C=1, gamma=1e-05 ................................................
[CV] ....... C=1, gamma=1e-05, score=0.6517479702073408, total=  45.7s
[CV] C=1, gamma=1e-05 ................................................
[CV] ....... C=1, gamma=1e-05, score=0.6476944761393382, total=  45.2s
[CV] C=1, gamma=1e-05 ................................................
[CV] ....... C=1, gamma=1e-05, score=0.6537790307423815, total=  51.1s
[CV] C=1, gamma=1e-07 ................................................
[CV] ....... C=1, gamma=1e-07, score=0.6517479702073408, total=  49.3s
[CV] C=1, gamma=1e-07 ................................................
[CV] ....... C=1, gamma=1e-07, score=0.6476944761393382, total=  45.3s
[CV] C=1, gamma=1e-07 ................................................
[CV] ....... C=1, gamma=1e-07, score=0.6537790307423815, total=  46.9s
[CV] C=10, gamma=0.0001 ..............................................
[CV] ..... C=10, gamma=0.0001, score=0.6532912836341677, total= 1.6min
[CV] C=10, gamma=0.0001 ..............................................
[CV] ..... C=10, gamma=0.0001, score=0.6482985435264111, total= 1.7min
[CV] C=10, gamma=0.0001 ..............................................
[CV] ...... C=10, gamma=0.0001, score=0.654517384883877, total= 1.7min
[CV] C=10, gamma=1e-05 ...............................................
[CV] ...... C=10, gamma=1e-05, score=0.6532912836341677, total= 1.7min
[CV] C=10, gamma=1e-05 ...............................................
[CV] ...... C=10, gamma=1e-05, score=0.6482985435264111, total= 1.9min
[CV] C=10, gamma=1e-05 ...............................................
[CV] ....... C=10, gamma=1e-05, score=0.654517384883877, total= 1.7min
[CV] C=10, gamma=1e-05 ...............................................
[CV] ...... C=10, gamma=1e-05, score=0.6532912836341677, total= 1.8min
[CV] C=10, gamma=1e-05 ...............................................
[CV] ...... C=10, gamma=1e-05, score=0.6482985435264111, total= 1.8min
[CV] C=10, gamma=1e-05 ...............................................
[CV] ....... C=10, gamma=1e-05, score=0.654517384883877, total= 1.9min
[CV] C=10, gamma=1e-07 ...............................................
[CV] ...... C=10, gamma=1e-07, score=0.6532912836341677, total= 2.0min
[CV] C=10, gamma=1e-07 ...............................................
[CV] ...... C=10, gamma=1e-07, score=0.6482985435264111, total= 1.9min
[CV] C=10, gamma=1e-07 ...............................................
[CV] ....... C=10, gamma=1e-07, score=0.654517384883877, total= 1.9min
[CV] C=100, gamma=0.0001 .............................................