In [1]:
import pandas as pd
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv("./encoded_bin_df.csv")
df.head()

,outcome_type,le_gender,le_color1,le_color2,le_breed1,le_breed2,le_intake_type,le_intake_condition,le_intake_sex,le_outcome_sex,le_outcome_d_m,le_intake_d_m,Outcome_Age_Month,Duration_Day
0,0,1,35,33,326,106,2,5,1,1,5,5,80,1.113889
1,0,1,35,33,326,106,2,5,1,1,3,3,89,1.259722
2,0,1,33,36,124,166,1,5,1,1,6,6,120,4.970139
3,0,1,12,33,309,166,2,3,1,1,2,2,193,0.119444
4,0,0,2,33,217,120,3,0,2,2,2,2,185,0.870833

In [3]:
target = df["outcome_type"]
target_names = ['No', 'Yes']

In [4]:
data = df.drop('outcome_type', axis=1)
variables = data.columns
data.head()

,le_gender,le_color1,le_color2,le_breed1,le_breed2,le_intake_type,le_intake_condition,le_intake_sex,le_outcome_sex,le_outcome_d_m,le_intake_d_m,Outcome_Age_Month,Duration_Day
0,1,35,33,326,106,2,5,1,1,5,5,80,1.113889
1,1,35,33,326,106,2,5,1,1,3,3,89,1.259722
2,1,33,36,124,166,1,5,1,1,6,6,120,4.970139
3,1,12,33,309,166,2,3,1,1,2,2,193,0.119444
4,0,2,33,217,120,3,0,2,2,2,2,185,0.870833

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [6]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7696127776659285

In [7]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8332997785383531

In [10]:
sorted(zip(rf.feature_importances_, variables), reverse=True)

[(0.29715887448224226, 'Duration_Day'),
 (0.16735685388932656, 'le_outcome_sex'),
 (0.1176102097855521, 'Outcome_Age_Month'),
 (0.07759866806375458, 'le_breed1'),
 (0.07475170492108706, 'le_intake_type'),
 (0.05048755538950869, 'le_color1'),
 (0.0460583553280818, 'le_intake_d_m'),
 (0.04587478716303461, 'le_outcome_d_m'),
 (0.03984178326764448, 'le_intake_sex'),
 (0.03544184844475134, 'le_color2'),
 (0.030587944403204958, 'le_breed2'),
 (0.010676021546943219, 'le_intake_condition'),
 (0.006555393314868255, 'le_gender')]

In [17]:
y_pred = rf.fit(X_train, y_train).predict(X_train)
print(y_pred)

[1 1 1 ... 0 0 1]

In [18]:
from sklearn.metrics import confusion_matrix

conf_matrix = confusion_matrix(y_train, y_pred)
conf_matrix

array([[24026,     0],
       [    0, 20674]])

In [19]:
print('The sensitivity is: ' + str(conf_matrix[1][1]/(conf_matrix[1][0] + conf_matrix[1][1])))

print('The specificity is: ' + str(conf_matrix[0][0]/(conf_matrix[0][0] + conf_matrix[0][1])))

The sensitivity is: 1.0
The specificity is: 1.0